/* .container .row .col .table {
    background-color: darkgrey;
}

body {
    background-color: darkorange;
    font-size: small;
}

.table {
    background-color: darkorange;
    padding: 2px;
} */
