<!DOCTYPE html>
<html>
    <head>
        <title>rocketStonks</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
		<link rel="shortcut icon" type="image/x-icon" href="/static/images/icon.png">
		<link rel="stylesheet" href="index.css">
        <title> About Us </title>
    </head>
    <body>
        <!-- Rotating card -->
        <div class="card-wrapper">
            <div id="card-1" class="card card-rotating text-center">
        
            <!-- Front Side -->
            <div class="face front">

                <!-- Content -->
                <div class="card-body">
                <h1 class="font-weight-bold mb-3">About Us</h1>
                <p class="font-weight-bold blue-text">Hi there! We are the developers of rocketStonks. 
                    Feel free to explore this page to learn about us, why we made this website, 
                    and how we went about doing so. We are not 
                    financial advisors in any way and this is not legitimate financial advice!</p>
                </div>
            </div>
            
        </div>
        <div class="card-wrapper">
            <div id="card-1" class="card card-rotating text-center">
        
            <!-- Front Side -->
            <div class="face front">

                <!-- Content -->
                <div class="card-body">
                <h1 class="font-weight-bold mb-3">Our Mission</h1>
                <p class="font-weight-bold blue-text">Nowadays, everyone invests. Whether it is for fun or for a job, 
                    who would not want to passively make some money? Let us help you choose where to 
                    dump your money into!</p>

                <p class="font-weight-bold blue-text">About 55% of the American population owns some form of stock. With more and more people
                    starting to invest everyday, we at rocketStonks aim to create a platform where one can 
                    monitor stocks from varying categories to determine whether or not they should invest. 
                    We seek to do this by providing various stocks of differing industries as well as charts 
                    to illustrate the history of their growth. We hope that these resources will encourage more 
                    people to take advantage of this captialist economy and make their own gains from it!</p>

                <p class="font-weight-bold blue-text">Our website features stocks from categories ranging from Technology to Cryptocurrency and 
                even includes Penny Stocks. Interested in one category? Use the drop down menu to learn more
                about that industry and some of our picks of which companies we think you should follow. Our
                website should make it seamless for the average small time investor to buy high and sell low!</p>

                <p class="font-weight-bold blue-text">We hope our website proves to be a valuable resource for those who wish to do their due dilligence. 
                    Always remember, DIAMOND HANDS!!</p>
                </div>
            </div>
            
        </div>
        <br>
        <br>
        <div class='row justify-content-center'>
            <h1 class="heading text-center" > The Team </h1>
            <div class="card" style="width: 16rem; margin: 1rem;">
                <img class="card-img-top" src="/static/images/profilepic.png">
                <div class="card-body">
                    <h5 class="card-title">Nam Nguyen</h5>
                    <p class='card-text'>3rd Year Civil Engineering Major</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <p class="card-text">
                            <strong>Role: </strong>
                            Front-End Developer
                        </p>
                    </li>
                    <li class="list-group-item">
                        <strong>Gitlab:</strong>
                        namnguyen430
                        <ul>
                            <li>
                                Commits: 
                                12
                            </li>
                            <li>
                                Issues: 
                                6
                            </li>
                            <li>
                                Unit Tests: 
                                6
                            </li>
                            
                        </ul>
                    </li>
                </ul>
        </div>
            <div class="card" style="width: 16rem; margin: 1rem;">
                <img class="card-img-top" src="/static/images/allan.png">
                <div class="card-body">
                    <h5 class="card-title">Allan Castaneda</h5>
                    <p class='card-text'>4th Year Mathematics Major</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <p class="card-text">
                            <strong>Role: </strong>
                            Front-End Developer
                        </p>
                    </li>
                    <li class="list-group-item">
                        <strong>Gitlab:</strong>
                        34545Allan
                        <ul>
                            <li>
                                Commits: 
                                20
                            </li>
                            <li>
                                Issues: 
                                8
                            </li>
                            <li>
                                Unit Tests: 
                                0
                            </li>
                            
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="card" style="width: 16rem; margin: 1rem;">
                <img class="card-img-top" src="/static/images/alec.jpg">
                <div class="card-body">
                    <h5 class="card-title">Alec Biggerstaff</h5>
                    <p class='card-text'>3rd Year Mechanical Engineering Major</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <p class="card-text">
                            <strong>Role: </strong>
                            Front-End Developer
                        </p>
                    </li>
                    <li class="list-group-item">
                        <strong>Gitlab:</strong>
                        ajbiggerstaff
                        <ul>
                            <li>
                                Commits: 
                                7
                            </li>
                            <li>
                                Issues: 
                                3
                            </li>
                            <li>
                                Unit Tests: 
                                0
                            </li>
                            
                        </ul>
                    </li>
                </ul>
            </div>
            <div class='row justify-content-center'>
            <div class="card" style="width: 16rem; margin: 1rem;">
                <img class="card-img-top" src="/static/images/michael.jpg">
                <div class="card-body">
                    <h5 class="card-title">Michael Walters</h5>
                    <p class='card-text'>4th Year Mathematics Major</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <p class="card-text">
                            <strong>Role: </strong>
                            Front-End Developer
                        </p>
                    </li>
                    <li class="list-group-item">
                        <strong>Gitlab:</strong>
                        Msw2686
                        <ul>
                            <li>
                                Commits: 
                                22
                            </li>
                            <li>
                                Issues: 
                                8
                            </li>
                            <li>
                                Unit Tests: 
                                0
                            </li>
                            
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="card" style="width: 16rem; margin: 1rem;">
                <img class="card-img-top" src="/static/images/unnamed.jpg">
                <div class="card-body">
                    <h5 class="card-title">Danfeng Wang</h5>
                    <p class='card-text'>4th Year Chemical Engineering Major</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <p class="card-text">
                            <strong>Role: </strong>
                            Front-End Developer
                        </p>
                    </li>
                    <li class="list-group-item">
                        <strong>Gitlab:</strong>
                        DanfengDannyWang
                        <ul>
                            <li>
                                Commits: 
                                13
                            </li>
                            <li>
                                Issues: 
                                5
                            </li>
                            <li>
                                Unit Tests: 
                                0
                            </li>
                            
                        </ul>
                    </li>
                </ul>
            </div>
        <br>
        <br>
        <div class='row justify-content-center'>
            <div class="card" style="width: 16rem; margin: 1rem;">
                <h3 class="heading text-center" > Repository Statistics </h3>
                    <ul>
                        <li>
                        <a href="https://gitlab.com/msw2686/rocketStonks/-/tree/master" target="_blank">Gitlab Repository</a>
                        </li>
                        <li>
                        <a href="https://gitlab.com/msw2686/rocketStonks/-/issues" target="_blank">Gitlab Issue Tracker</a>
                        </li>
                        <li>
                        <a href="https://gitlab.com/msw2686/rocketStonks/-/wikis/home" target="_blank">Gitlab Wiki</a>
                        </li>
                        <li>
                            Commits: 
                            6
                        </li>
                        <li>
                            Issues: 
                            6
                        </li>
                        <li>
                            Unit Tests: 
                            6
                        </li>            
                    </ul>
            </div>
        <div class="card" style="width: 18rem; margin: 1rem;">
            <h1 class="heading text-center"> Development Tools </h1>
        <div class='tools'>
            <div class='btn text-center'>
                <a href="https://alphavantage.com" target="_blank">
                <img src="../static/images/alphavantage.png" width="75" length="100" onclick = "location.href = alphavantage.com;" 
                    onmouseover="" style ="cursor:pointer;" class="center">
                </a>
                <h5>Our back-end team used Alpha Vantage to get the data for 
                    each ticker we established in a text file. Iterating through 
                    that file, they replaced each ticker name in the url for the API 
                    and gathered 4 site-specific categories of data for each ticker: 
                    Overview, Intraday, Historical and Statistics. Each call returned a 
                    JSON so they saved each JSON to their respective dictionary entry. 
                    Each ticker fell under a category, so the general layout of the dictionary 
                    was {'Technology':{'<ticker.name>':{Overview: (JSON stuff), 
                    Statistics: (JSON stuff)}}} and so on. The website allowed 
                    5 calls per minute and 500 calls per day. Since we had 24 stocks per 
                    category, there were 72 stocks that needed 4 calls each so a total of 
                    288 calls needed to be made. To ensure no more than 5 calls per minute, 
                    the function "sleep()" formt he "time" library was used to stop the code 
                    for 60 seconds. When the calling was finished, the large dictionary was then 
                    dumped using json.dump() into a usable json format. 
                </h5>
            </div>
        </div>
        <div class='tools'>
            <div class='gitlab'>
                <a href="https://gitlab.com" target="_blank">
                <img src="../static/images/gitlab_logo.png" width="75" length="100" onclick = "location.href = alphavantage.com;" 
                    onmouseover="" style ="cursor:pointer;" class="center">
                </a>
            </div>
        </div>
        <div class='tools'>
            <div class='bootstrap'>
                <a href="https://getbootstrap.com" target="_blank">
                <img src="../static/images/bootstrap.png" width="75" length="100" onclick = "location.href = alphavantage.com;" 
                    onmouseover="" style ="cursor:pointer;" class="center">
                </a>
            </div>
        </div>
        <div class='tools'>
            <div class='flask'>
                <a href="https://flask.palletprojects.com" target="_blank">
                <img src="../static/images/flask-logo.png" width="75" length="50" onclick = "location.href = alphavantage.com;" 
                    onmouseover="" style ="cursor:pointer;">
                </a>
            </div>
        </div>
        </div>
        <div class='row justify-content-center'>
        <div class="card" style="width: 18rem; margin: 1rem;">
        <h1 class="heading text-center"> Our API </h1>
        <div class='tools'>
            <div class='row justify-content-center'>
                <div class='tradier'>
                    <a href="https://tradier.com" target="_blank">
                    <img src="../static/images/tradier.png" width="75" length="100" onclick = "location.href = alphavantage.com;" 
                        onmouseover="" style ="cursor:pointer;">
                    </a>
                </div>
            </div>
        </div>
        </div>
        <div class="card" style="width: 18rem; margin: 1rem;">
        <h1 class="heading text-center"> Contact Us </h1>
        <div class='tools'>
            <div class='email'>
                <img src="../static/images/email.png" width="75" length="100" onclick = "location.href = alphavantage.com;" 
                    onmouseover="" style ="cursor:pointer;">
                <a class="btn btn-default" href="{{url_for('unit_tests')}}" role="button" style="background-color: #24c24b">Run Tests »</a>
            </div>
        </div>
        </div>
    </body>
</html>