<!doctype html>
<html lang="en">
	<head>
		<!--START HERE-->
		<title>rocketStonks</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
		<link rel="shortcut icon" type="image/x-icon" href="/static/images/icon.png">
		<style type='text/css'>
			h1 {text-align: center;}
			div {text-align: center;}
		</style>
		<link href="/static/css/stocks_page.css" rel="stylesheet">
		<!--END HERE-->
  	</head>

	<body style="background-color: rgb(63, 180, 235);">

		<br/><br/><br/>
		<h1>Technology Stocks</h1><br/>
		<strong> &nbsp &nbsp &nbsp Sort By: </strong><button onclick = "location.href = '{{url_for('catTech', sortBy = 'Price', asc = True)}}';"> Price Desc. </button>
		<button onclick = "location.href = '{{url_for('catTech', sortBy = 'Price', asc = False)}}';"> Price Asc. </button>
		<button onclick = "location.href = '{{url_for('catTech', sortBy = 'Open', asc = True)}}';"> Open Desc. </button>
		<button onclick = "location.href = '{{url_for('catTech', sortBy = 'Open', asc = False)}}';"> Open Asc. </button>
		<button onclick = "location.href = '{{url_for('catTech', sortBy = 'PreviousClose', asc = True)}}';"> Previous Close Desc. </button>
		<button onclick = "location.href = '{{url_for('catTech', sortBy = 'PreviousClose', asc = False)}}';"> Previous Close Asc. </button>
		<button onclick = "location.href = '{{url_for('catTech', sortBy = 'Low', asc = True)}}';"> Low Desc. </button>
		<button onclick = "location.href = '{{url_for('catTech', sortBy = 'Low', asc = False)}}';"> Low Asc. </button>
		<button onclick = "location.href = '{{url_for('catTech', sortBy = 'High', asc = True)}}';"> High Desc. </button>
		<button onclick = "location.href = '{{url_for('catTech', sortBy = 'High', asc = False)}}';"> High Asc. </button>
		<form action="{{url_for('results2', cat = 'Technology')}}" method = 'POST' style ='padding: 1em; padding-left:5em;'>
			<input type = "text" name ="search" id = "search" placeholder= "Search for a tech stock" >
			<button type="submit"><i class="fa fa-search"></i></button>
		</form>
		<div class="row row-cols-1 row-cols-md-4 g-4" style ="padding-top:1em; padding-left:5em; padding-right:5em;">

		{% for i in stocks %}
			{% if i.category == 'Technology' %}
				<div class="col">
					<div class="card h-100" onclick = "location.href = '{{url_for('stockPage', stockName = i.ticker)}}';" onmouseover="">
						<img src="/static/images/{{i.ticker}}.jpg" class="card-img-top" alt=.>
						<img src="/static/images/{{i.ticker}}.png" class="card-img-top" alt=.>
						<div class="card-body">
							<h5 class="card-title"> {{ i.name }} <strong>({{ i.ticker }})</strong> </h5>
						</div>
					</div>
				</div>
			{% endif %}
		{% endfor %}
		</div>
	</body>
</html>