<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <link href="/static/css/stocks.css" rel="stylesheet">
    <title> Stock Name </title>
</head>
<body>

<!-- Option 1: Bootstrap Bundle with Popper -->
<!--begin navbar-->
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #24c24b;">
    <div class="container-fluid" style="float:left">
        <nav class="navbar navbar">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="/static/images/icon.png" alt="" width="48" height="38" class="d-inline-block align-top">
                    rocketStonks
                </a>
            </div>
        </nav>
    </div>
    <div class="collapse navbar-collapse" id="navbarNavDropdown" style="float:right">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Stocks</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Projections</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Categories
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="{{url_for('catBio')}}">Biomedical</a></li>
                    <li><a class="dropdown-item" href="{{url_for('catIndustry')}}">Industry</a></li>
                    <li><a class="dropdown-item" href="{{url_for('catTech')}}">Technology</a></li>
                    <li><a class="dropdown-item disabled" href="{{url_for('catCrypto')}}">Cryptocurrency</a></li>
                    <li><a class="dropdown-item disabled" href="{{url_for('catPenny')}}">Penny Stocks</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('about')}}">About</a>
            </li>
        </ul>
    </div>
    </div>
</nav>
<!--end navbar-->
<br>
<br>
<div class="container" style="justify-content: flex-start">
    <div class="row row-cols-2">
        <div class="col">
            <h3> <strong> Honeywell International Inc. (HON) </strong> </h3>
            <h5> NYSE - Nasdaq Real Time Price. Currency in USD </h5>
        </div>
        <div class="col">
        </div>
        <div class="col">
            <h2> <strong> 203.57 </strong> <a style ='color:green;'> +1.39 (+0.69%)</a> </h2>
            <h5> At close: February 12 4:03PM EST </h5>
        </div>
        <div class="col">
        </div>
        <div class="col">
            <button> Summary </button> <button> Chart </button> <button> Historical Data </button> <button> Options </button>
            <button> Components </button>
        </div>
        <div class="col">
            <button class="button"> 1D </button> <button> 5D </button> <button> 1M </button> <button> 6M </button>
            <button> YTD </button> <button> 1Y </button> <button> 5Y </button> <button> Max </button>
        </div>
        <div class="col">
            <table>
                <tr >
                    <td> Previous Close </td>
                    <td> <strong> 202.18 </strong> </td>
                    <td> Market Cap </td>
                    <td> <strong> 142.842B </strong> </td>
                </tr>
                <tr>
                <tr>
                    <td> Open </td>
                    <td> <strong> 202.37 </strong> </td>
                    <td> Beta(5Y Monthly) </td>
                    <td> <strong> 1.20 </strong> </td>
                </tr>
                <tr>
                    <td> Bid </td>
                    <td> <strong> 203.42 x 800 </strong> </td>
                    <td> PE Ratio (TTM) </td>
                    <td> <strong> 30.29 </strong> </td>
                </tr>
                <tr>
                    <td> Ask </td>
                    <td> <strong> 203.68 x 1000 </strong> </td>
                    <td> EPS (TTM) </td>
                    <td> <strong> 6.72 </strong> </td>
                </tr>
                <tr>
                    <td> Day's Range </td>
                    <td> <strong> 201.65-203.79 </strong> </td>
                    <td> Earnings Date </td>
                    <td> <strong> Apr 29, 2021 - May 03, 2021 </strong> </td>
                </tr>
                <tr>
                    <td> 52 Week Range </td>
                    <td> <strong> 101.08 - 216.70 </strong> </td>
                    <td> Forward Dividend & Yield </td>
                    <td> <strong> 3.72(1.83%) </strong> </td>
                </tr>
                <tr>
                    <td> Volume </td>
                    <td> <strong> 1,990,377 </strong> </td>
                    <td> Ex-Dividend Date </td>
                    <td> <strong> Nov 12, 2020 </strong> </td>
                </tr>
                <tr>
                    <td> Avg. Volume </td>
                    <td> <strong> 2,820,961 </strong> </td>
                    <td> 1y Target Est </td>
                    <td> <strong> 217.86 </strong> </td>
                </tr>
            </table>

        </div>
        <div class="col">
            <img src="/static/images/honeywell.jpg" alt = 'stock name'>
        </div>
    </div>
</div>
</body>
</html>