<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
            crossorigin="anonymous"
        />
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
            crossorigin="anonymous"
        ></script>
        <title>Honeywell International Inc. (HON)</title>
    </head>
    <body>
        <!-- <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a
                    class="nav-link dropdown-toggle"
                    data-bs-toggle="dropdown"
                    href="#"
                    role="button"
                    aria-expanded="false"
                    >Categories</a
                >
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Biomedical</a></li>
                    <li><a class="dropdown-item" href="#">Industry</a></li>
                    <li><a class="dropdown-item" href="#">Technology</a></li>
                    <li><hr class="dropdown-divider" /></li>
                    <li>
                        <a class="dropdown-item disabled" href="#"
                            >Cryptocurrency</a
                        >
                    </li>
                    <li>
                        <a class="dropdown-item disabled" href="#"
                            >Penny Stocks</a
                        >
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Stocks</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Projections</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">About Us</a>
            </li>
        </ul> -->
        <header>
            <h1>Honeywell International Inc. (HON)</h1>
        </header>

        <!-- Valuation Measures --- A table  -->
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Current</th>
                    <th scope="col">12/31/2020</th>
                    <th scope="col">9/30/2020</th>
                    <th scope="col">6/30/2020</th>
                    <th scope="col">3/31/2020</th>
                    <th scope="col">12/31/2019</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Market Cap (intraday)</th>
                    <td>141.58B</td>
                    <td>148.21B</td>
                    <td>115.50B</td>
                    <td>101.47B</td>
                    <td>93.90B</td>
                    <td>125.86B</td>
                </tr>
                <tr>
                    <th scope="row">Enterprise Value</th>
                    <td>149.57B</td>
                    <td>155.42B</td>
                    <td>122.47B</td>
                    <td>108.79B</td>
                    <td>100.19B</td>
                    <td>132.11B</td>
                </tr>
                <tr>
                    <th scope="row">Trailing P/E</th>
                    <td>30.29</td>
                    <td>30.52</td>
                    <td>20.25</td>
                    <td>16.62</td>
                    <td>15.91</td>
                    <td>20.68</td>
                </tr>
                <tr>
                    <th scope="row">Forward P/E</th>
                    <td>25.84</td>
                    <td>26.67</td>
                    <td>21.10</td>
                    <td>20.66</td>
                    <td>15.15</td>
                    <td>20.12</td>
                </tr>
                <tr>
                    <th scope="row">PEG Ratio (5 yr expected)</th>
                    <td>2.95</td>
                    <td>3.05</td>
                    <td>2.36</td>
                    <td>2.29</td>
                    <td>1.49</td>
                    <td>2.35</td>
                </tr>
                <tr>
                    <th scope="row">Price/Sales (ttm)</th>
                    <td>4.44</td>
                    <td>4.57</td>
                    <td>3.43</td>
                    <td>2.89</td>
                    <td>2.66</td>
                    <td>3.52</td>
                </tr>
                <tr>
                    <th scope="row">Price/Book (mrq)</th>
                    <td>8.07</td>
                    <td>8.09</td>
                    <td>6.36</td>
                    <td>5.75</td>
                    <td>5.08</td>
                    <td>6.95</td>
                </tr>
                <tr>
                    <th scope="row">Enterprise Value/Revenue</th>
                    <td>4.58</td>
                    <td>17.46</td>
                    <td>15.71</td>
                    <td>14.55</td>
                    <td>11.84</td>
                    <td>13.91</td>
                </tr>
                <tr>
                    <th scope="row">Enterprise Value/EBITDA</th>
                    <td>20.29</td>
                    <td>75.48</td>
                    <td>81.43</td>
                    <td>69.78</td>
                    <td>44.51</td>
                    <td>62.08</td>
                </tr>
            </tbody>
        </table>

        <!-- Hinancial Highlights & Trading Information --- Two Columns  -->
        <div class="container">
            <div class="row">
                <div class="col">
                    <h6>Financial Highlights</h6>

                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Fiscal Year</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="row">Fiscal Year Ends</td>
                                <td>Dec 31, 2020</td>
                            </tr>
                            <tr>
                                <td scope="row">Most Recent Quarter (mrq)</td>
                                <td>Dec 31, 2020</td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Profitability</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="row">Profit Margin</td>
                                <td>14.64%</td>
                            </tr>
                            <tr>
                                <td scope="row">Operating Margin (ttm)</td>
                                <td>20.39%</td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Management Effectiveness</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="row">Return on Assets (ttm)</td>
                                <td>6.75%</td>
                            </tr>
                            <tr>
                                <td scope="row">Return on Equity (ttm)</td>
                                <td>26.65%</td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Income Statement</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="row">Revenue (ttm)</td>
                                <td>32.64B</td>
                            </tr>
                            <tr>
                                <td scope="row">Revenue Per Share (ttm)</td>
                                <td>46.35</td>
                            </tr>
                            <tr>
                                <td scope="row">
                                    Quarterly Revenue Growth (yoy)
                                </td>
                                <td>-6.30%</td>
                            </tr>
                            <tr>
                                <td scope="row">Gross Profit (ttm)</td>
                                <td>10.47B</td>
                            </tr>
                            <tr>
                                <td scope="row">EBITDA</td>
                                <td>7.66B</td>
                            </tr>
                            <tr>
                                <td scope="row">
                                    Net Income Avi to Common (ttm)
                                </td>
                                <td>4.78B</td>
                            </tr>
                            <tr>
                                <td scope="row">Diluted EPS (ttm)</td>
                                <td>6.72</td>
                            </tr>
                            <tr>
                                <td scope="row">
                                    Quarterly Earnings Growth (yoy)
                                </td>
                                <td>-13.00%</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Balance Sheet</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="row">Total Cash (mrq)</td>
                                <td>15.22B</td>
                            </tr>
                            <tr>
                                <td scope="row">Total Cash Per Share (mrq)</td>
                                <td>21.88</td>
                            </tr>
                            <tr>
                                <td scope="row">Total Debt (mrq)</td>
                                <td>23.21B</td>
                            </tr>
                            <tr>
                                <td scope="row">Total Debt/Equity (mrq)</td>
                                <td>130.43</td>
                            </tr>
                            <tr>
                                <td scope="row">Current Ratio (mrq)</td>
                                <td>1.47</td>
                            </tr>
                            <tr>
                                <td scope="row">Book Value Per Share (mrq)</td>
                                <td>25.18</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Cash Flow Statement</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="row">Operating Cash Flow (ttm)</td>
                                <td>6.21B</td>
                            </tr>
                            <tr>
                                <td scope="row">
                                    Levered Free Cash Flow (ttm)
                                </td>
                                <td>5.06B</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col">
                    <h6>Trading Information</h6>

                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Stock Price History</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="row">Beta (5Y Monthly)</td>
                                <td>1.20</td>
                            </tr>
                            <tr>
                                <td scope="row">52-Week Change</td>
                                <td>28.51%</td>
                            </tr>
                            <tr>
                                <td scope="row">S&P500 52-Week Change</td>
                                <td>23.92%</td>
                            </tr>
                            <tr>
                                <td scope="row">52 Week High</td>
                                <td>216.70</td>
                            </tr>
                            <tr>
                                <td scope="row">52 Week Low</td>
                                <td>101.08</td>
                            </tr>
                            <tr>
                                <td scope="row">50-Day Moving Average</td>
                                <td>203.93</td>
                            </tr>
                            <tr>
                                <td scope="row">200-Day Moving Average</td>
                                <td>187.75</td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Share Statistics</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="row">Avg Vol (3 month)</td>
                                <td>2.69M</td>
                            </tr>
                            <tr>
                                <td scope="row">Avg Vol (10 day)</td>
                                <td>2.34M</td>
                            </tr>
                            <tr>
                                <td scope="row">Shares Outstanding</td>
                                <td>701.69M</td>
                            </tr>
                            <tr>
                                <td scope="row">Float</td>
                                <td>659.76M</td>
                            </tr>
                            <tr>
                                <td scope="row">% Held by Insiders</td>
                                <td>0.15%</td>
                            </tr>
                            <tr>
                                <td scope="row">% Held by Institutions</td>
                                <td>78.47%</td>
                            </tr>
                            <tr>
                                <td scope="row">Shares Short (Jan 29, 2021)</td>
                                <td>5.13M</td>
                            </tr>
                            <tr>
                                <td scope="row">Short Ratio (Jan 29, 2021)</td>
                                <td>1.79</td>
                            </tr>
                            <tr>
                                <td scope="row">
                                    Short % of Float (Jan 29, 2021)
                                </td>
                                <td>0.73%</td>
                            </tr>
                            <tr>
                                <td scope="row">
                                    Short % of Shares Outstanding (Jan 29, 2021)
                                </td>
                                <td>0.73%</td>
                            </tr>
                            <tr>
                                <td scope="row">
                                    Shares Short (prior month Dec 31, 2020)
                                </td>
                                <td>4.96M</td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Dividends & Splits</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="row">
                                    Forward Annual Dividend Rate
                                </td>
                                <td>3.72</td>
                            </tr>
                            <tr>
                                <td scope="row">
                                    Forward Annual Dividend Yield
                                </td>
                                <td>1.81%</td>
                            </tr>
                            <tr>
                                <td scope="row">
                                    Trailing Annual Dividend Rate
                                </td>
                                <td>3.63</td>
                            </tr>
                            <tr>
                                <td scope="row">
                                    Trailing Annual Dividend Yield
                                </td>
                                <td>1.77%</td>
                            </tr>
                            <tr>
                                <td scope="row">
                                    5 Year Average Dividend Yield
                                </td>
                                <td>2.01</td>
                            </tr>
                            <tr>
                                <td scope="row">Payout Ratio</td>
                                <td>54.02%</td>
                            </tr>
                            <tr>
                                <td scope="row">Dividend Date</td>
                                <td>Mar 12, 2021</td>
                            </tr>
                            <tr>
                                <td scope="row">Ex-Dividend Date</td>
                                <td>Feb 25, 202</td>
                            </tr>
                            <tr>
                                <td scope="row">Last Split Factor</td>
                                <td>1032:1000</td>
                            </tr>
                            <tr>
                                <td scope="row">Last Split Date</td>
                                <td>Oct 28, 2018</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>
