<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
            crossorigin="anonymous"
        />
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
            crossorigin="anonymous"
        ></script>
        <title>Apple Inc. (AAPL)</title>
    </head>
    <body>
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a
                    class="nav-link dropdown-toggle"
                    data-bs-toggle="dropdown"
                    href="#"
                    role="button"
                    aria-expanded="false"
                    >Categories</a
                >
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Biomedical</a></li>
                    <li><a class="dropdown-item" href="#">Industry</a></li>
                    <li><a class="dropdown-item" href="#">Technology</a></li>
                    <li><hr class="dropdown-divider" /></li>
                    <li>
                        <a class="dropdown-item disabled" href="#"
                            >Cryptocurrency</a
                        >
                    </li>
                    <li>
                        <a class="dropdown-item disabled" href="#"
                            >Penny Stocks</a
                        >
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Stocks</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Projections</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">About Us</a>
            </li>
        </ul>
        <header>
            <h1>Apple Inc. (AAPL)</h1>
        </header>


        <!-- Valuation Measures --- A table  -->
        <table class="table">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Current</th>
                <th scope="col">12/31/2020</th>
                <th scope="col">9/30/2020</th>
                <th scope="col">6/30/2020</th>
                <th scope="col">3/31/2020</th>
                <th scope="col">12/31/2019</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Market Cap (intraday)</th>
                <td>2.27T</td>
                <td>2.23T</td>
                <td>1.97T</td>
                <td>1.56T</td>
                <td>1.10T</td>
                <td>1.29T</td>
              </tr>
              <tr>
                <th scope="row">Enterprise Value</th>
                <td>2.31T</td>
                <td>2.25T</td>
                <td>1.99T</td>
                <td>1.58T</td>
                <td>1.10T</td>
                <td>1.30T</td>
              </tr>
              <tr>
                <th scope="row">Trailing P/E</th>
                <td>36.49</td>
                <td>40.45</td>
                <td>35.12</td>
                <td>28.52</td>
                <td>20.02</td>
                <td>24.70</td>
              </tr>
              <tr>
                <th scope="row">Forward P/E</th>
                <td>31.65</td>
                <td>33.44</td>
                <td>30.12</td>
                <td>24.33</td>
                <td>19.65</td>
                <td>22.17</td>
              </tr>
              <tr>
                <th scope="row">PEG Ratio (5 yr expected)</th>
                <td>3.00</td>
                <td>3.33</td>
                <td>2.86</td>
                <td>2.02</td>
                <td>1.58</td>
                <td>2.03</td>
              </tr>
              <tr>
                <th scope="row">Price/Sales (ttm)</th>
                <td>7.99</td>
                <td>8.47</td>
                <td>7.50</td>
                <td>6.12</td>
                <td>4.34</td>
                <td>5.25</td>
              </tr>
              <tr>
                <th scope="row">Price/Book (mrq)</th>
                <td>34.32</td>
                <td>34.16</td>
                <td>27.20</td>
                <td>19.93</td>
                <td>12.28</td>
                <td>14.23</td>
              </tr>
              <tr>
                <th scope="row">Enterprise Value/Revenue</th>
                <td>7.85</td>
                <td>20.22</td>
                <td>30.69</td>
                <td>26.44</td>
                <td>18.88</td>
                <td>14.11</td>
              </tr>
              <tr>
                <th scope="row">Enterprise Value/EBITDA</th>
                <td>26.11</td>
                <td>61.11</td>
                <td>108.89</td>
                <td>95.15</td>
                <td>66.00</td>
                <td>43.87</td>
              </tr>
            </tbody>
          </table>





        <!-- Hinancial Highlights & Trading Information --- Two Columns  -->
        <div class="container">
            <div class="row">
                <div class="col">
                  <h6>Financial Highlights</h6>

                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Fiscal Year</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td scope="row">Fiscal Year Ends</td>
                        <td>Sep 25, 2020</td>
                      </tr>
                      <tr>
                        <td scope="row">Most Recent Quarter (mrq)</td>
                        <td>Dec 26, 2020</td>
                      </tr>
                    </tbody>
                  </table>

                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Profitability</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td scope="row">Profit Margin</td>
                        <td>21.74%</td>
                      </tr>
                      <tr>
                        <td scope="row">Operating Margin (ttm)</td>
                        <td>25.25%</td>
                      </tr>
                    </tbody>
                  </table>

                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Management Effectiveness</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td scope="row">Return on Assets (ttm)</td>
                        <td>13.36%</td>
                      </tr>
                      <tr>
                        <td scope="row">Return on Equity (ttm)</td>
                        <td>82.09%</td>
                      </tr>
                    </tbody>
                  </table>

                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Income Statement</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td scope="row">Revenue (ttm)</td>
                        <td>294.14B</td>
                      </tr>
                      <tr>
                        <td scope="row">Revenue Per Share (ttm)</td>
                        <td>17.13</td>
                      </tr>
                      <tr>
                        <td scope="row">Quarterly Revenue Growth (yoy)</td>
                        <td>21.40%</td>
                      </tr>
                      <tr>
                        <td scope="row">Gross Profit (ttm)</td>
                        <td>104.96B</td>
                      </tr>
                      <tr>
                        <td scope="row">EBITDA</td>
                        <td>85.16B</td>
                      </tr>
                      <tr>
                        <td scope="row">Net Income Avi to Common (ttm)</td>
                        <td>63.93B</td>
                      </tr>
                      <tr>
                        <td scope="row">Diluted EPS (ttm)</td>
                        <td>3.69</td>
                      </tr>
                      <tr>
                        <td scope="row">Quarterly Earnings Growth (yoy)</td>
                        <td>29.30%</td>
                      </tr>
                    </tbody>
                  </table>

                </div>
                <div class="col">
                  2 of 2
                </div>
        </div>
    </body>
</html>
