<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
            crossorigin="anonymous"
        />
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
            crossorigin="anonymous"
        ></script>
        <title>Apple Inc. (AAPL)</title>
    </head>
    <body>
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a
                    class="nav-link dropdown-toggle"
                    data-bs-toggle="dropdown"
                    href="#"
                    role="button"
                    aria-expanded="false"
                    >Categories</a
                >
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Biomedical</a></li>
                    <li><a class="dropdown-item" href="#">Industry</a></li>
                    <li><a class="dropdown-item" href="#">Technology</a></li>
                    <li><hr class="dropdown-divider" /></li>
                    <li>
                        <a class="dropdown-item disabled" href="#"
                            >Cryptocurrency</a
                        >
                    </li>
                    <li>
                        <a class="dropdown-item disabled" href="#"
                            >Penny Stocks</a
                        >
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Stocks</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Projections</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">About Us</a>
            </li>
        </ul>
        <header>
            <h1>Apple Inc. (AAPL)</h1>
        </header>

        <!-- Valuation Measures --- A table  -->
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Current</th>
                    <th scope="col">12/31/2020</th>
                    <th scope="col">9/30/2020</th>
                    <th scope="col">6/30/2020</th>
                    <th scope="col">3/31/2020</th>
                    <th scope="col">12/31/2019</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Market Cap (intraday)</th>
                    <td>2.27T</td>
                    <td>2.23T</td>
                    <td>1.97T</td>
                    <td>1.56T</td>
                    <td>1.10T</td>
                    <td>1.29T</td>
                </tr>
                <tr>
                    <th scope="row">Enterprise Value</th>
                    <td>2.31T</td>
                    <td>2.25T</td>
                    <td>1.99T</td>
                    <td>1.58T</td>
                    <td>1.10T</td>
                    <td>1.30T</td>
                </tr>
                <tr>
                    <th scope="row">Trailing P/E</th>
                    <td>36.49</td>
                    <td>40.45</td>
                    <td>35.12</td>
                    <td>28.52</td>
                    <td>20.02</td>
                    <td>24.70</td>
                </tr>
                <tr>
                    <th scope="row">Forward P/E</th>
                    <td>31.65</td>
                    <td>33.44</td>
                    <td>30.12</td>
                    <td>24.33</td>
                    <td>19.65</td>
                    <td>22.17</td>
                </tr>
                <tr>
                    <th scope="row">PEG Ratio (5 yr expected)</th>
                    <td>3.00</td>
                    <td>3.33</td>
                    <td>2.86</td>
                    <td>2.02</td>
                    <td>1.58</td>
                    <td>2.03</td>
                </tr>
                <tr>
                    <th scope="row">Price/Sales (ttm)</th>
                    <td>7.99</td>
                    <td>8.47</td>
                    <td>7.50</td>
                    <td>6.12</td>
                    <td>4.34</td>
                    <td>5.25</td>
                </tr>
                <tr>
                    <th scope="row">Price/Book (mrq)</th>
                    <td>34.32</td>
                    <td>34.16</td>
                    <td>27.20</td>
                    <td>19.93</td>
                    <td>12.28</td>
                    <td>14.23</td>
                </tr>
                <tr>
                    <th scope="row">Enterprise Value/Revenue</th>
                    <td>7.85</td>
                    <td>20.22</td>
                    <td>30.69</td>
                    <td>26.44</td>
                    <td>18.88</td>
                    <td>14.11</td>
                </tr>
                <tr>
                    <th scope="row">Enterprise Value/EBITDA</th>
                    <td>26.11</td>
                    <td>61.11</td>
                    <td>108.89</td>
                    <td>95.15</td>
                    <td>66.00</td>
                    <td>43.87</td>
                </tr>
            </tbody>
        </table>

        <!-- Hinancial Highlights & Trading Information --- Two Columns  -->
        <div class="container">
            <div class="row">
                <div class="col">
                    <h6>Financial Highlights</h6>

                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Fiscal Year</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="row">Fiscal Year Ends</td>
                                <td>Sep 25, 2020</td>
                            </tr>
                            <tr>
                                <td scope="row">Most Recent Quarter (mrq)</td>
                                <td>Dec 26, 2020</td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Profitability</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="row">Profit Margin</td>
                                <td>21.74%</td>
                            </tr>
                            <tr>
                                <td scope="row">Operating Margin (ttm)</td>
                                <td>25.25%</td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Management Effectiveness</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="row">Return on Assets (ttm)</td>
                                <td>13.36%</td>
                            </tr>
                            <tr>
                                <td scope="row">Return on Equity (ttm)</td>
                                <td>82.09%</td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Income Statement</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="row">Revenue (ttm)</td>
                                <td>294.14B</td>
                            </tr>
                            <tr>
                                <td scope="row">Revenue Per Share (ttm)</td>
                                <td>17.13</td>
                            </tr>
                            <tr>
                                <td scope="row">
                                    Quarterly Revenue Growth (yoy)
                                </td>
                                <td>21.40%</td>
                            </tr>
                            <tr>
                                <td scope="row">Gross Profit (ttm)</td>
                                <td>104.96B</td>
                            </tr>
                            <tr>
                                <td scope="row">EBITDA</td>
                                <td>85.16B</td>
                            </tr>
                            <tr>
                                <td scope="row">
                                    Net Income Avi to Common (ttm)
                                </td>
                                <td>63.93B</td>
                            </tr>
                            <tr>
                                <td scope="row">Diluted EPS (ttm)</td>
                                <td>3.69</td>
                            </tr>
                            <tr>
                                <td scope="row">
                                    Quarterly Earnings Growth (yoy)
                                </td>
                                <td>29.30%</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Balance Sheet</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="row">Total Cash (mrq)</td>
                                <td>76.83B</td>
                            </tr>
                            <tr>
                                <td scope="row">Total Cash Per Share (mrq)</td>
                                <td>4.58</td>
                            </tr>
                            <tr>
                                <td scope="row">Total Debt (mrq)</td>
                                <td>112.04B</td>
                            </tr>
                            <tr>
                                <td scope="row">Total Debt/Equity (mrq)</td>
                                <td>169.19</td>
                            </tr>
                            <tr>
                                <td scope="row">Current Ratio (mrq)</td>
                                <td>1.16</td>
                            </tr>
                            <tr>
                                <td scope="row">Book Value Per Share (mrq)</td>
                                <td>3.94</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Cash Flow Statement</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="row">Operating Cash Flow (ttm)</td>
                                <td>88.92B</td>
                            </tr>
                            <tr>
                                <td scope="row">
                                    Levered Free Cash Flow (ttm)
                                </td>
                                <td>66.89B</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col">
                    <h6>Trading Information</h6>

                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Stock Price History</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="row">Beta (5Y Monthly)</td>
                                <td>1.27</td>
                            </tr>
                            <tr>
                                <td scope="row">52-Week Change</td>
                                <td>74.95%</td>
                            </tr>
                            <tr>
                                <td scope="row">S&P500 52-Week Change</td>
                                <td>23.92%</td>
                            </tr>
                            <tr>
                                <td scope="row">52 Week High</td>
                                <td>145.09</td>
                            </tr>
                            <tr>
                                <td scope="row">52 Week Low</td>
                                <td>53.15</td>
                            </tr>
                            <tr>
                                <td scope="row">50-Day Moving Average</td>
                                <td>133.33</td>
                            </tr>
                            <tr>
                                <td scope="row">200-Day Moving Average</td>
                                <td>122.57</td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Share Statistics</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="row">Avg Vol (3 month)</td>
                                <td>104.09M</td>
                            </tr>
                            <tr>
                                <td scope="row">Avg Vol (10 day)</td>
                                <td>93.33M</td>
                            </tr>
                            <tr>
                                <td scope="row">Shares Outstanding</td>
                                <td>16.79B</td>
                            </tr>
                            <tr>
                                <td scope="row">Float</td>
                                <td>16.77B</td>
                            </tr>
                            <tr>
                                <td scope="row">% Held by Insiders</td>
                                <td>0.07%</td>
                            </tr>
                            <tr>
                                <td scope="row">% Held by Institutions</td>
                                <td>59.66%</td>
                            </tr>
                            <tr>
                                <td scope="row">Shares Short (Jan 29, 2021)</td>
                                <td>91.86M</td>
                            </tr>
                            <tr>
                                <td scope="row">Short Ratio (Jan 29, 2021)</td>
                                <td>0.79</td>
                            </tr>
                            <tr>
                                <td scope="row">
                                    Short % of Float (Jan 29, 2021)
                                </td>
                                <td>0.55%</td>
                            </tr>
                            <tr>
                                <td scope="row">
                                    Short % of Shares Outstanding (Jan 29, 2021)
                                </td>
                                <td>0.55%</td>
                            </tr>
                            <tr>
                                <td scope="row">
                                    Shares Short (prior month Dec 31, 2020)
                                </td>
                                <td>91.09M</td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Dividends & Splits</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="row">
                                    Forward Annual Dividend Rate
                                </td>
                                <td>0.82</td>
                            </tr>
                            <tr>
                                <td scope="row">
                                    Forward Annual Dividend Yield
                                </td>
                                <td>0.65%</td>
                            </tr>
                            <tr>
                                <td scope="row">
                                    Trailing Annual Dividend Rate
                                </td>
                                <td>0.81</td>
                            </tr>
                            <tr>
                                <td scope="row">
                                    Trailing Annual Dividend Yield
                                </td>
                                <td>0.64%</td>
                            </tr>
                            <tr>
                                <td scope="row">
                                    5 Year Average Dividend Yield
                                </td>
                                <td>1.44</td>
                            </tr>
                            <tr>
                                <td scope="row">Payout Ratio</td>
                                <td>21.77%</td>
                            </tr>
                            <tr>
                                <td scope="row">Dividend Date</td>
                                <td>Feb 11, 2021</td>
                            </tr>
                            <tr>
                                <td scope="row">Ex-Dividend Date</td>
                                <td>Feb 05, 2021</td>
                            </tr>
                            <tr>
                                <td scope="row">Last Split Factor</td>
                                <td>4:1</td>
                            </tr>
                            <tr>
                                <td scope="row">Last Split Date</td>
                                <td>Aug 30, 2020</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>
