<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link href="/static/css/stocks.css" rel="stylesheet">
    <title> Stock Name </title>
</head>
<body>
<br>
<div class="table-responsive mx-5 mb-3">
    <table  class="table table-success table-sm mr-0 pr-0">
        <h6> Stock Data on 2021-03-30 </h6>
        <thead>
        <tr>
            <th scope="col"> Ticker </th>
            <th scope="col"> OperatingMarginTTM <button onclick = "location.href = '{{url_for('stockStatisticsTable', sortBy = 'OperatingMarginTTM', asc = True, page = page )}}';">
                &and; </button> <button onclick = "location.href = '{{url_for('stockStatisticsTable', sortBy = 'OperatingMarginTTM', asc = False, page = page )}}';"> &or; </button>
            </th>
            <th scope="col"> ReturnOnAssetsTTM <button onclick = "location.href = '{{url_for('stockStatisticsTable', sortBy = 'ReturnOnAssetsTTM', asc = True, page = page  )}}';">
                &and; </button> <button onclick = "location.href = '{{url_for('stockStatisticsTable', sortBy = 'ReturnOnAssetsTTM', asc = False, page = page )}}';"> &or; </button>
            </th>
            <th scope="col"> ReturnOnEquityTTM <button onclick = "location.href = '{{url_for('stockStatisticsTable', sortBy = 'ReturnOnEquityTTM', asc = True, page = page  )}}';">
                &and; </button> <button onclick = "location.href = '{{url_for('stockStatisticsTable', sortBy = 'ReturnOnEquityTTM', asc = False, page = page )}}';"> &or; </button>
            </th>
            <th scope="col"> GrossProfitTTM <button onclick = "location.href = '{{url_for('stockStatisticsTable', sortBy = 'GrossProfitTTM', asc = True , page = page )}}';">
                &and; </button> <button onclick = "location.href = '{{url_for('stockStatisticsTable', sortBy = 'GrossProfitTTM', asc = False, page = page )}}';"> &or; </button>
            </th>
            <th scope="col"> RevenueTTM <button onclick = "location.href = '{{url_for('stockStatisticsTable', sortBy = 'RevenueTTM', asc = True , page = page )}}';">
                &and; </button> <button onclick = "location.href = '{{url_for('stockStatisticsTable', sortBy = 'RevenueTTM', asc = False, page = page )}}';"> &or; </button>
            </th>
        </tr>
        </thead>
        <tbody>
        {% if page == 6 %}
        {% for i in range( (page - 1) * 12, (page * 12) - 1 ) %}
        <tr>
            <td>
                <a href="{{url_for('statistics_page', stockName = stocks[i].symbol)}}"> {{stocks[i].symbol}} </a>
            </td>
            <td>
                {{stocks[i].OperatingMarginTTM}}
            </td>
            <td>
                {{stocks[i].ReturnOnAssetsTTM}}
            </td>
            <td>
                {{stocks[i].ReturnOnEquityTTM}}
            </td>
            <td>
                {{stocks[i].GrossProfitTTM}}
            </td>
            <td>
                {{stocks[i].RevenueTTM}}
            </td>
        </tr>
        {% endfor %}
        {% endif %}
        {% if page != 6 %}
        {% for i in range( (page - 1) * 12, page * 12) %}
        <tr>
            <td>
                <a href="{{url_for('statistics_page', stockName = stocks[i].symbol)}}"> {{stocks[i].symbol}} </a>
            </td>
            <td>
                {{stocks[i].OperatingMarginTTM}}
            </td>
            <td>
                {{stocks[i].ReturnOnAssetsTTM}}
            </td>
            <td>
                {{stocks[i].ReturnOnEquityTTM}}
            </td>
            <td>
                {{stocks[i].GrossProfitTTM}}
            </td>
            <td>
                {{stocks[i].RevenueTTM}}
            </td>
        </tr>
        {% endfor %}
        {% endif %}
        </tbody>
    </table>
    {% if page != 6 %}
    <button style = "float:right;" onclick = "location.href = '{{url_for('stockTable', sortBy = sortBy, asc = asc, page = page + 1 )}}';"> Next Page </button>
    {% endif %}
    {% if page != 1 %}
    <button style = "float:left;" onclick = "location.href = '{{url_for('stockTable', sortBy = sortBy, asc = asc, page = page - 1 )}}';"> Previous Page </button>
    {% endif %}
</div>
</body>
</html>